@font-face {
  font-family: "Sahel";
  src: url("../fonts/sahel/Sahel-WOL.ttf") format("truetype");
  font-family: "Sahel-Black";
  src: url("../fonts/sahel/Sahel-Black.ttf") format("truetype");
}

body {
  direction: rtl;
  background-color: #e7e6e4;
  font-family: "Sahel";
}

h1,
h2 {
  font-family: "Sahel-Black";
}

/* Login Form */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-box {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
}
