<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <!-- flex item 1 -->
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'shop:product_list' %}">صفحه اصلی</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shop:product_list' %}">محصولات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">درباره ما</a>
                </li>
            </ul>
            <!-- flex item 2 -->
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:dashboard' %}">{{ user.username }}</a>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:logout' %}">خروج</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="btn btn-primary" href="{% url 'users:login' %}">ورود</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:register' %}">عضویت</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>